<app-navbar></app-navbar>
<div class="small-container">
    <div class="row row-2">
        <h2 class="title"> Todays Menu</h2>
        <!-- <hr style="background-color: orange-red;border:0.5px solid orangered;width:100%;"> -->
        <select>
            <option>Default Sorting</option>
            <option>Sort by Price</option>
            <option>Sort by Time</option>
            <option>Sort by Rating</option>
            
        </select>
        
    </div>
      <div class="row">
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4>Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp;  1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4>Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
            <img src="assets\menu.jpg">
            <h4> Name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p> $50.00  &emsp; 1hr</p>
            <button type="button" class="button">Add to Cart</button>
        </div>
        <div class="col-4">
          <img src="assets\menu.jpg">
          <h4> Name</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p> $50.00  &emsp; 1hr</p>
          <button type="button" class="button">Add to Cart</button>
      </div>
      <div class="col-4">
        <img src="assets\menu.jpg">
        <h4> Name</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p> $50.00  &emsp; 1hr</p>
        <button type="button" class="button">Add to Cart</button>
    </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4>Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
          <div class="col-4">
              <img src="assets\menu.jpg">
              <h4> Name</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p> $50.00  &emsp; 1hr</p>
              <button type="button" class="button">Add to Cart</button>
          </div>
      </div>
      
      <div class="page-btn">
          <span class="row-96">1</span>
          <span class="row-96">2</span>
          <span class="row-96">3</span>
          <span class="row-96">4</span>
          <span class="row-96">&#8594;</span>
      </div>
  </div>
  <app-footer></app-footer>
